body {
    font-family: Arial, sans-serif;
    background: #101010;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 40px;
}

h1 {
    margin-bottom: 40px;
    font-size: 2em;
}

.output-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

canvas {
    background: #1e1e1e;
    border: 2px solid #555;
    border-radius: 10px;
    width: auto;
    height: auto;
    image-rendering: pixelated;
}

.input-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

input {
    padding: 10px;
    font-size: 1em;
    width: 300px;
    border-radius: 5px;
    border: none;
}

label[for="alignSelect"] {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    margin-right: 8px;
    user-select: none;
}

#alignSelect {
    padding: 10px;
    font-size: 1em;
    background-color: #2e7dd6;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#alignSelect:hover {
    background-color: #4791e6;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #2e7dd6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:cubic-bezier(0.39, 0.575, 0.565, 1);
}

button:hover {
    background-color: #4791e6;
}

button:disabled {
    background: #555;
    cursor: default;
}

.colorInput{
    height: 25pt;
    width: 80px;
    padding: 0px;
    border-radius: 0px;
    background: none;
}

#colorDiv{
    display: none;
    margin: 0 auto;
    margin-top: 10px;
    background: #1e1e1e;
    border: 5px solid #555;
    border-radius: 8px;
    width: 260px;
}
